<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.MentorMitrAndroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MentorMitr">
        <activity android:name=".StudentsSuggestedTimingsHelper.StudentsSuggestedTimingsActivity"></activity>
        <activity android:name=".StudentsMentorsFeedbackActivity" />
        <activity android:name=".MentorSessionFeedbackHelper.MentorSessionFeedbackActivity" />
        <activity android:name=".GradesHelper.GradesAnalysisHelper.GradesAnalysisActivity" />
        <activity android:name=".GradesHelper.SubjectsHelper.SubjectsActivity" />
        <activity android:name=".GradesHelper.GradesHelper.GradesActivity" />
        <activity android:name=".MentorWeeklyStatsHelper.MentorWeeklySuggestionsActivity" />
        <activity android:name=".MentorAnswersHelper.MentorCollegeTrackAnswersActivity" />
        <activity android:name=".MentorAnswersHelper.MentorTracksAndOptionsActivity" />
        <activity android:name=".MentorAnswersHelper.MentorSportsAnswersActivity" />
        <activity android:name=".MentorAnswersHelper.MentorQuestionnaireAnswersActivity" />
        <activity android:name=".MentorDashboard.WorkingDetailsForMentorActivity" />
        <activity android:name=".MentorDashboard.CollegeDetailsForMentorActivity" />
        <activity android:name=".AfterPaymentCollegeStudentDashboard.AfterPaymentCollegeStudentDashboardActivity" />
        <activity android:name=".AfterPaymentWorkingProfessionalDashboard.AfterPaymentWorkingProfessionalActivity" />
        <activity android:name=".MentorWeeklyStatsHelper.MentorWeeklyStatsActivity" />
        <activity android:name=".MentorDashboard.StudentDetailsForMentorAcitivity" />
        <activity android:name=".MentorDashboard.MentorDashboardActivity" />
        <activity android:name=".WeeklyTimetableHelper.WeeklyTimetableActivity" />
        <activity android:name=".ActivitiesHelper.ActivitiesActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".IntroHelper.IntroActivity" />
        <activity android:name=".LoginHelperNew.LoginEnterDetailsActivity" />
        <activity android:name=".LoginHelperNew.LoginMobileNumberActivity" />
        <activity android:name=".LoginHelperNew.LoginOtpActivity" />
        <activity android:name=".BeforePaymentDashboardHelper.BeforePaymentDashboardActivity" />
        <activity android:name=".AfterPaymentStudentDashboard.AfterPaymentSchoolStudentDashboardActivity" />
        <activity android:name=".QuestionnaireHelper.SurveyActivity" />
        <activity android:name=".TracksAndOptionsHelper.TracksAndOptionsActivity" />
        <activity android:name=".CollegeTrackHelper.CollegeTrack" />
        <activity android:name=".PriorityHelper.PrioritiesActivity" />
        <activity android:name=".GoalsAndAffirmationsHelper.GoalsAndAffirmationsActivity" />
        <activity android:name=".SessionFeedbackHelper.SessionFeedbackActivity" />
        <activity android:name=".SessionSchedulingHelper.SessionSchedulingActivity" />
        <activity android:name=".ProgramsAndPaymentsHelper.StudentProgram" />
        <activity android:name=".ProgramsAndPaymentsHelper.StudentProgram1Month" />
        <activity android:name=".ProgramsAndPaymentsHelper.StudentProgram3Months" />
        <activity android:name=".ProgramsAndPaymentsHelper.StudentProgram1Year" />
        <activity android:name=".ProgramsAndPaymentsHelper.UniversityProgram1Month" />
        <activity android:name=".ProgramsAndPaymentsHelper.UniversityProgram3Month" />
        <activity android:name=".ProgramsAndPaymentsHelper.UniversityStudentProgram" />
        <activity android:name=".ProgramsAndPaymentsHelper.WorkingProfessionalProgram" />
        <activity android:name=".ProgramsAndPaymentsHelper.WorkingProfessionalProgram1Month" />
        <activity android:name=".ProgramsAndPaymentsHelper.WorkingProfessionalProgram3Month" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_MvrwOKu0TQyu0C" />
    </application>

</manifest>